@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	
    
    
	background-color: #F5F5F5;
}

a:hover{
  text-decoration: none !important;
  color: black;
}

.container {
    width: -webkit-fill-available;
}

@media (max-width: 768px){
  .mobile {
    flex: auto;
  }
}

@media (min-width: 768px){
  .container {
    width: 750px;
  }
}


@media (min-width: 992px){
  .container {
    width: 970px;
  } 
}

@media (min-width: 1200px){
  .container {
    width: 1170px;
  }
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}